/* For small screens (up to 576px) */
@media (max-width: 576px) {
    .btn-primary {
      width: 100%;
    }
    .table {
      overflow-x: auto;
    }
    .table-responsive {
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .table thead th {
      white-space: nowrap;
    }
    .table tbody td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  
  /* For medium screens (576px to 768px) */
  @media (min-width: 576px) and (max-width: 768px) {
    /* Add any additional styles for medium screens */
  }
  
  /* For large screens (768px and above) */
  @media (min-width: 768px) {
    /* Add any additional styles for large screens */
  }
  