
@media (max-width: 576px) {
    .table-responsive {
      overflow-x: auto;
    }
  }
  

  @media (min-width: 576px) and (max-width: 768px) {
    .table-responsive {
      overflow-x: auto;
    }
  }
  

  @media (min-width: 768px) {
    .table-responsive {
      overflow-x: hidden;
    }
  }
  